 function formatSec(num) {
   var Tnum = parseInt(num)
   // var H = this.$toZero(Math.floor(num / 3600));
   var M = toZero(Math.floor(Tnum % 3600 / 60))
   var S = toZero(Math.floor(Tnum % 60))
   // return H + ":" + M + ":" + S;
   return M + ':' + S
 }

 function toZero(num) {
   if (num <= 9) {
     return '0' + num
   } else {
     return '' + num
   }
 }

 function reverseFormatSec(formatSec) {
   var h = parseInt(formatSec[0], 10)
   var m = parseInt(formatSec[1], 10)
   var s = parseInt(formatSec[3], 10) * 10 + parseInt(formatSec[4], 10)

   return h * 3600 + m * 60 + s
 }

 function floor(num) {
   return Math.floor(num)
 }


 function snippetNum(value) {
   if (!value) {
     return ''
   } else {
     if (value > 99999 && value <= 99999999) {
       var result = Math.floor(value / 10000)
       return result + '万'
     } else if (value > 99999999) {
       var result = (value / 100000000)
       var Tresult = result.toString().slice(0, 3)
       return Tresult + '亿'
     } else {
       return value
     }
   }
 }

 function snippet15(value) {
   if (!value) {
     return ''
   } else {
     if (value.length > 10) {
       return value.slice(0, 14) + '...'
     } else {
       return value.slice(0, 14)
     }
   }
 }

 function snippet17(value) {
   if (!value) {
     return ''
   } else {
     if (value.length > 10) {
       return value.slice(0, 16) + '...'
     } else {
       return value.slice(0, 16)
     }
   }
 }

 module.exports = {
   formatSec: formatSec,
   snippetNum: snippetNum,
   snippet15: snippet15,
   snippet17: snippet17,
   reverseFormatSec: reverseFormatSec,
   floor: floor
 }